DB_USERNAME=omraty
DB_PASSWORD=changeme
JWT_SECRET=change-me-in-every-environment-min-32-chars
JWT_ACCESS_EXP_MINUTES=15
JWT_REFRESH_EXP_DAYS=30

UPLOAD_PROVIDER=s3
AWS_S3_BUCKET=changeme
AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
